@import url(contact-form.css);
@import url(mediaqueries.css);

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}


.container {
  width: 90%;
  max-width: 81.25em;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

section {
  padding: 3em 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.spacer>*+* {
  margin-top: 1.5rem;
}

.split {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.split>* {
  flex-basis: 30%;
  min-width: 10em;
}


/* Header Section */
.hero {
  display: flex;
  margin: 0 auto;
  text-align: center;
  padding: 7em 0;
  width: 100%;
  min-height: 150px;
  color: #fff;
}

.nav-btn {
  display: inline-block;
  padding: 0.5em 0.5em;
  margin: 0 0 1.5em 0;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.65em;
  border-radius: 0.25em;
  background-color: rgba(0, 212, 255, 0.5);
}

.nav-btn:hover,
.nav-btn:focus {
  transform: scale(0.9);
  opacity: 0.8;
}


/* In case users browser !support background-blend-mode */
@supports (background-blend-mode: multiply) {
  .hero {
    background-image: url("../images/bucketHat.png"),
      radial-gradient(#444, #111);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
  }
}

.page-title {
  font-size: 3rem;
  font-size: clamp(3rem, 5vw + 1rem, 4.5rem);
  line-height: 1;
  text-transform: uppercase;
}

.page-subtitle {
  font-size: 0.85em;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  line-height: 1;
  color: #17353d;
  margin-bottom: 2.5rem;
}


/* Featured Products Section */
.featured-section {
  background: #eee;
}

.featured-item {
  display: block;
  position: relative;
  transform: scale(.85);
  transition: transform 250ms ease-in-out;
  text-decoration: none;
  color: #333;
  text-align: center;
  line-height: 1.3;
}

.featured-item:hover,
.featured-item:focus {
  transform: scale(1);
}

/* Circle behind hats */
.featured-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  padding: 100% 100% 0 0;
  border-radius: 50%;
  background: rgba(0, 212, 255, 1);
  z-index: -1;
}

.price {
  display: block;
  font-weight: 700;
  font-size: 0.95em;
}

/* Product Section */
.white {
  color: #fff;
}

.product-section {
  background-color: #333;
}

.product-section-title {
  text-align: center;
  font-size: 2rem;
  line-height: 1;
  color: #fff;
  margin-bottom: 2.5rem;
}

.product {
  /* www.cssgradient.io */
  background: rgb(174, 203, 238);
  background: -moz-radial-gradient(circle, rgba(174, 203, 238, 0.804435152967437) 0%, rgba(148, 233, 149, 1) 100%);
  background: -webkit-radial-gradient(circle, rgba(174, 203, 238, 0.804435152967437) 0%, rgba(148, 233, 149, 1) 100%);
  background: radial-gradient(circle, rgba(174, 203, 238, 0.804435152967437) 0%, rgba(148, 233, 149, 1) 100%);
  padding: 3em;
  border-radius: 3em;
  margin-bottom: 2em;
  text-align: center;
}

.product-title {
  font-size: 1.5rem;
  color: #fff;
  /* www.thml-css-js.com/css/generator/text-shadow.com */
  text-shadow: 2px 2px #069400;
  line-height: 1.1;
  margin: 0;
}

.product-description {
  text-align: center;
}

.product-item {
  display: block;
  position: relative;
  transform: scale(.85);
  transition: transform 250ms ease-in-out;
  color: #fff;
  text-align: center;
  line-height: 1.3;
}

/* Sale Section */
.sale-item {
  display: block;
  position: relative;
  transform: scale(.85);
  transition: transform 250ms ease-in-out;
  text-decoration: none;
  color: #333;
  text-align: center;
  line-height: 1.3;
}

/* Scroll Button To Top Of Page */
#topBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 10px;
  z-index: 99;
  font-size: 0.65em;
  border: none;
  outline: none;
  background-color: #069400;
  cursor: pointer;
  padding: 0.85em;
  border-radius: 50%;
  color: #fff;
}

/* Footer */
footer {
  text-align: center;
  margin-bottom: 1.5em;
  padding: 1em;
  font-size: 0.75em;
}

#topBtn:hover {
  background-color: #6495ed;
}
