*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.container {
  width: 85%;
  max-width: 81.25em;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

section {
  padding: 3em 0;
}

a {
  text-decoration: none;
}

.spacer>*+* {
  margin-top: 1.5rem;
}

.split {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.split>* {
  flex-basis: 30%;
  min-width: 10em;
}


/* Header Section */
.hero {
  display: flex;
  margin: 0 auto;
  text-align: center;
  padding: 7em 0;
  width: 100%;
  min-height: 150px;
  color: #fff;
  /* background: #333; */
}

/* In case users browser !support background-blend-mode */
@supports (background-blend-mode: multiply) {
  .hero {
    background-image: url("../images/bucketHat.png"),
      radial-gradient(#444, #111);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
  }
}

.hero-btn {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  display: inline-block;
  padding: 0.5em 1.25em;
  background: blue;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.55em;
  border-radius: 0.25em;
}

.hero-btn:hover,
.hero-btn:focus {
  transform: scale(0.9);
  opacity: 0.8;
}

.page-title {
  font-size: 3rem;
  font-size: clamp(3rem, 5vw + 1rem, 4.5rem);
  line-height: 1;
  text-transform: uppercase;
}

.page-subtitle {
  font-size: 0.85em;
}

.section-title {
  text-align: center;
  font-size: clamp(2.5rem, 5vw + 1, 4rem);
  line-height: 1;
  color: #17353d;
  margin-bottom: 2.5rem;
}


/* Featured Products Section */
.featured-section {
  background: #eee;
}

.featured-item {
  display: block;
  position: relative;
  transform: scale(.85);
  transition: transform 250ms ease-in-out;
  text-decoration: none;
  color: #333;
  text-align: center;
  line-height: 1.3;
}

.featured-item:hover,
.featured-item:focus {
  transform: scale(1);
}

/* Circle behind hats */
.featured-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  padding: 100% 100% 0 0;
  border-radius: 50%;
  background: #2193b0;
  z-index: -1;
}

.price {
  display: block;
  font-weight: 700;
  font-size: 0.95em;
}

/* Product Section */
.product-section {
  
}